body {
  background-color:#AFD4C0;
}
.App {
  text-align: center;
  width:800px;
  background-color:#E5F4EC;
  margin:0px auto;
}

.cancel {
  background-color:#FEC2C2;
}

.parent{
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.listAll {
 background-color: #DEDEDE;
 width:600px;
 padding:5px;
 margin:12px;
}

.one-listing {
  tex-align:left;
}

.deleteButton {
  float:right;
}
